@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

.grid-container {
    display: inline-block;
}

.hex {
    transition: 0.4s;
    cursor: pointer;
    fill: transparent;
    stroke: #000000;
}

.hex:hover {
    fill: #000000;
}


.tile.selected .hex {
    fill: lightblue;
}

.tile.in-range .hex {
    fill: lightgreen;
}

.tile-unit-health {
    font-size: 2.5px;
    text-anchor: middle;
}

svg {
    width: 1000px;
    flex: 1;
}